.benefits {
  background-color: $color-light-grey;
  padding: 105px 0;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 400px;
  }
}

.benefist__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.benefits__article {
  background-color: $color-white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 370px;

  @include tablet {
    display: block;
  }
}

.benefits__article--first {
  flex-direction: row-reverse;
}

.benefits__article:nth-of-type(2) {
  margin: 37px 0;
}

.benefits__article__content {
  text-align: left;

  @include tablet {
    padding: 20px;
  }
}

.benefits__article__content--left {
  padding-left: 35px;
}

.benefits__article__content--right {
  padding-right: 20px;
}

.benefits__article__content__header {
  font-family: $raleway;
  font-weight: $font-regular;
  font-size: 36px;
  color: $color-black;
  line-height: 42px;
}

.benefits__article__content__paragraph {
  font-family: $open-sans;
  font-weight: $font-regular;
  font-size: 16px;
  color: $color-black;
  line-height: 22px;
  margin-top: 30px;
}
.benefits__article__content__paragraph::after {
  content: "";
  display: block;
  height: 4px;
  width: 328px;
  background-color: $color-redish;
  margin-top: 50px;

  @include tablet {
    content: none;
  }
}

.benefits__article__content__paragraph--second::after {
  background-color: $color-primary;
}

.benefits__article__content__paragraph--third::after {
  background-color: $color-green;
}

.benefits__article--last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 370px;

  @include tablet {
    display: block;
  }
}

.benefits__article__content--last {
  background-color: $color-white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-right: 60px;
  padding: 70px 35px;
  height: 100%;

  @include tablet {
    margin: 0;
  }

  @include phone {
    padding-top: 20px;
    padding-bottom: 120px;
  }
}

.benefits__article__img {
  position: relative;
  z-index: 1;

  @include tablet {
    margin: 30px;
  }
}

.benefits__article__img--macbook img {
  max-height: 219px;

  @include phone {
    max-height: 110px;
  }
}

.benefits__article__img--iphone img {
  max-height: 328px;

  @include phone {
    max-height: 130px;
  }
}

.benefits__article__img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.benefits__article__img--macbook::before {
  width: 180px;
  height: 180px;
  background-color: $color-redish;
  border-radius: 41px;
  transform: rotate(45deg);
  right: 10%;
  bottom: 30%;

  @include tablet {
    width: 160px;
    height: 160px;
    right: 30%;
    bottom: 31%;
  }

  @include phone {
    width: 100px;
    height: 100px;
    right: 15%;
    bottom: 25%;
  }
}

.benefits__article__img--iphone::before {
  width: 320px;
  height: 320px;
  background-color: $color-primary;
  border-radius: 50%;

  @include phone {
    width: 130px;
    height: 130px;
  }
}

.benefits__article__img--last {
  background-color: $color-green;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 98px 82px 64px 62px;
  height: 100%;

  img {
    max-height: 207px;

    @include tablet {
      max-height: 250px;
    }

    @include phone {
      max-height: 207px;
    }
  }
}

.benefits__article__img--macbook {
  max-height: 219px;
}

.benefits__article__img--iphone {
  max-height: 328px;
}

.benefits__article__img--right {
  padding: 0 70px 0 170px;

  @include small-screen {
    padding: 0 70px;
  }
}

.benefits__article__img--left {
  padding: 0 170px 0 70px;

  @include small-screen {
    padding: 0 70px;
  }
}