.footer {
  background-color: $color-light-grey;
  box-shadow: 0 -5px 40px #00000029;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-family: $raleway;
  font-weight: $font-light;
  font-size: 26px;
  color: $color-primary;
  line-height: 30px;
}

.footer__copyright {
  font-family: $open-sans;
  font-weight: $font-regular;
  font-size: 11px;
  color: $color-grey;
  line-height: 15px;
}

.footer__content__social {
  display: inline-block;
}

.footer__content__social a:focus {
  outline: none;
}

.footer__content__social__img {
  width: 24px;
  height: 24px;
}

.footer__content__social__img:first-of-type {
  margin-right: 20px;
}