.opening {
  padding-top: 200px;
}

.opening__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening__header {
  font-size: 49px;
  font-family: $raleway;
  font-weight: $font-regular;
  color: $color-black;
}

.opening__text {
  font-size: 16px;
  font-family: $open-sans;
  font-weight: $font-regular;
  color: $color-black;
  margin: 20px auto 38px;

  @include phone {
    max-width: 300px;
    text-align: center;
  }
}

.btn {
  background-color: $color-primary;
  box-shadow: 5px 10px 14px #07ACE629;
}

.opening__btn {
  font-size: 16px;
  font-family: $open-sans;
  font-weight: $font-bold;
  color: $color-white;
  padding: 22px 157px;
  border-radius: 40px;

  @include phone {
    padding: 22px 92px;
  }
}

.opening__img {
  width: 100%;
}