.why-us {
  padding: 100px 0;
  background-color: $color-white;
  box-shadow: 0 -5px 80px #00000029;

  @include phone {
    padding: 50px 0 20px;
  }
}

.why-us__container {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
}

.why-us__header {
  font-family: $raleway;
  font-weight: $font-regular;
  font-size: 36px;
  color: $color-black;
  text-align: center;
  margin-bottom: 100px;

  @include phone {
    margin-bottom: 50px;
  }
}

.why-us__content {
  display: flex;
  justify-content: space-around;

  @include phone {
    flex-direction: column;
  }
}

.why-us__article {
  text-align: center;
  position: relative;
  z-index: 1;

  @include phone {
    margin-bottom: 30px;
  }
}

.why-us__article::before {
  content: "";
  height: 63px;
  width: 63px;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
  left: 25%;

  @include phone {
    left: 37%;
  }
}

.why-us__article--red::before {
  background-color: $color-redish;
}

.why-us__article--blue::before {
  background-color: $color-primary;
}

.why-us__article--green::before {
  background-color: $color-green;
}

.why-us__article__img {
  padding-left: 40%;

  @include phone {
    padding: 0;
  }
}

.why-us__article__img--eye {
  padding-top: 8px;
  padding-bottom: 8px;
}

.why-us__article__header {
  font-family: $raleway;
  font-weight: $font-extra-bold;
  font-size: 20px;
  color: $color-black;
  letter-spacing: 5.96px;
  margin: 19px 0;
}

.why-us__article__paragraph {
  font-family: $raleway;
  font-weight: $font-regular;
  font-size: 17px;
  color: $color-grey;
  line-height: 20px;
}